*.bin
*.aux
*.synctex
*.fdb_latexmk
*.synctex.gz
*.fls
*.log
*.blg
*.bbl
*.out
*.dvi
*.xdv
*-converted-to.*
*.out
*.o
czt.sty
setlog.pl
setlog_rules.pl
setlog_tc.pl
setlog_vcg.pl
setloglib.slog
setloglibTPTP.slog
setloglib_tc.slog
setlogliblist.slog
setloglibpf.slog
size_solver.pl
misestudiantes-all.pl
misestudiantes-vc.pl
